<div th:fragment="product-card(producto)" class="product-card" th:object="${producto}">
    <a th:href="@{/productos/{id}(id=*{id})}" class="product-image-link">
        <div class="product-image-container">
            <img th:src="*{imageUrl} ?: @{/images/productos/placeholder.svg}"
                 class="product-image" th:alt="*{name}">
        </div>
        <div class="product-info">
            <div class="product-name" th:text="*{name}">Nombre</div>
            <div class="product-description" th:text="*{description}">Descripción</div>
            <div class="product-price">$ <span th:text="*{price}">0.00</span>
            </div>
        </div>
    </a>
</div>